{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Text_Processor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'text_processor:text_file_form' %}">Text_Processor</a>
        </div>
    </nav>

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="card w-100" style="max-width: 600px;">
            <div class="card-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
